.img-diet {
  background-repeat:no-repeat;
  background-position: center center;
  background-size: 100%;
}

.img-fruit { 
  background-image: url('../img/fruit.png');
}

.img-brood { 
  background-image: url('../img/bread.png');
}

.img-vlees { 
  background-image: url('../img/meat.png');
}

.img-vis { 
  background-image: url('../img/seafood.png');
}

.img-vegetarisch { 
  background-image: url('../img/vegetable.png');
}

.img-user { 
  background-image: url('../img/user.png');
}

.img-soy { 
  background-image: url('../img/allergens/soy.png');
}

.img-noten { 
  background-image: url('../img/allergens/peanut.png');
}

.img-lactose { 
  background-image: url('../img/allergens/lactose.png');
}

.img-glutten { 
  background-image: url('../img/allergens/glutten.png');
}

.img-ei { 
  background-image: url('../img/allergens/egg.png');
}

.img-cholesterol { 
  background-image: url('../img/allergens/cholesterol.png');
}
