.img-diet {
  background-repeat:no-repeat;
  background-position: center center;
  background-size: 100%;
}

.img-fruit { 
  background-image: url('../img/fruit.png');
}

.img-bread { 
  background-image: url('../img/bread.png');
}

.img-meat { 
  background-image: url('../img/meat.png');
}

.img-seafood { 
  background-image: url('../img/seafood.png');
}

.img-vegetable { 
  background-image: url('../img/vegetable.png');
}

.img-devider { 
  background-image: url('../img/devider.png');
}

.img-soy { 
  background-image: url('../img/allergens/soy.png');
}

.img-peanut { 
  background-image: url('../img/allergens/peanut.png');
}

.img-lactose { 
  background-image: url('../img/allergens/lactose.png');
}

.img-glutten { 
  background-image: url('../img/allergens/glutten.png');
}

.img-egg { 
  background-image: url('../img/allergens/egg.png');
}

.img-cholesterol { 
  background-image: url('../img/allergens/cholesterol.png');
}
