@import "diet.less";

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        margin: 0;
        padding: 0;
    }
}

@button-stroke: inset 0 0 0 2px;

// Blocks
.blocks,
.blocks-primary,
.blocks:visited,
.blocks-primary:visited {
  appearance: none;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  transition: box-shadow .5s;
  margin: .5em;
  outline: none;
  text-align: center;
  text-decoration: none;
  width: 100%;
  display: inline-block;
  position: relative;
  -webkit-font-smoothing: antialiased;

  > .blocks-purple-white {
    background-color: purple;
    color: white;
  }

  .blocks-height {
    margin-top: 100%;
  }

  .blocks-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    // @include transition(all .2s ease-in-out);
    // @include box-shadow(0px 0px 19px 0px rgba(255, 255, 255, 0.5));

    .blocks-text {
      position: absolute;
      top: 50%;
      // @include transform(translateY(-50%));
      left: 0;
      right: 0;
    }
  }

  .blocks-layer-toggle {
    background-color: rgba(23, 255, 255, 0.2);
    z-index: 200;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.blocks:hover .blocks-layer {
  box-shadow: 0px 0px 19px 0px rgba(50, 50, 50, 0.4);
}

.header {
  .nav-container {
    margin-top: 1.6em;
  }
  img {
    width: 15em;
  }
  ul li a {
    color: #fcbb36;
    font-size: 1.5em;
    border: white solid 2px;
    &:hover {
      border: #fcbb36 solid 2px;
      border-radius: 15px;
      background-color: white;
    }
  }
}
